<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="QLCuaHangDoGo.Properties.Settings.QLDGConnectionString" connectionString="Data Source=Admin-PC\SQLEXPRESS;Initial Catalog=QLDG;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		<add name="CS" connectionString="Data Source=DESKTOP-T3JKLLT\DUONGCHUOI;Initial Catalog=DieuTraDS;Integrated Security=True" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="Host" value="smtp.office365.com" />
		<add key="Port" value="587" />
		<add key="Mail" value="knutsonchannings@hotmail.com" />
		<add key="Password" value="HaiSomedia@123" />
		<add key="DisplayName" value="Nguyen Van Huong" />
	</appSettings>
</configuration>